<!DOCTYPE html>
<html>
  <head>
    <title>QueroRemoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <p class="alert alert-danger alert"><%= alert %></p>
    <% end %>

    <% if notice %>
      <p class="alert alert-success notice"><%= notice %></p>
    <% end %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
